#set( $titleImage = $link.getContextPath() + "/images/sub/cm/title_cm_" + $menu.getPathKey() + ".gif" )

						<form name="searchForm" method="get">
						<div class="cs">
							<div class="cs-search"><img src="$titleImage" border="0" /></div>
						</div>
						</form>
<!-- 실명인증 -->
						<table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
							<tr>
								<td class="itemTitle">실명인증</td>
							</tr>
						</table>
						<div style="width: 100%; height: 120px; overflow: auto; ">
							<table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
								<tr>
									<td bgcolor="#b5b5b5" colspan="7">
										<table cellspacing="1" cellpadding="2" border="0" width="100%" style="height: 24px">
											<tr bgcolor="#FFFFFF" align="center">
												<td background="$link.getContextPath()/images/sub/default/t-topbg.gif" width="50%">시간</td>
												<td background="$link.getContextPath()/images/sub/default/t-topbg.gif" width="50%">성공여부</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<!--// 가이드 TR // -->
									<td width="50%" height="1"></td>
									<td width="50%"></td>
								</tr>
#if( $listRealname.size() == 0 )
								<tr>
									<td colspan="2" align="center" class="text-result-no" style="padding: 10 0 10 0">검색 결과 데이터가 존재하지 않습니다.</td>
								</tr>
#else
	#foreach( $arr in $listRealname )
							<tr class="text-result">
									<td>$arr[0]</td>
									<td>
										#if ("Y" == "$!arr[1]")
										<font color="green">성공</font>
										#else
										<font color="red">실패</font>
										#end
									</td>
								</tr>
								<tr>
									<td colspan="7" background="$link.getContextPath()/images/sub/default/dot_line.gif"><img
										src="$link.getContextPath()/images/sub/default/dot_line.gif" border="0" /></td>
								</tr>
	#end
#end
							</table>
						</div>

<!-- 아이핀 -->
						<table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
							<tr>
								<td class="itemTitle">아이핀</td>
							</tr>
						</table>
						<div style="width: 100%; height: 120px; overflow: auto; ">
							<table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
								<tr>
									<td bgcolor="#b5b5b5" colspan="7">
										<table cellspacing="1" cellpadding="2" border="0" width="100%" style="height: 24px">
											<tr bgcolor="#FFFFFF" align="center">
												<td background="$link.getContextPath()/images/sub/default/t-topbg.gif" width="50%">시간</td>
												<td background="$link.getContextPath()/images/sub/default/t-topbg.gif" width="50%">성공여부</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<!--// 가이드 TR // -->
									<td width="50%" height="1"></td>
									<td width="50%"></td>
								</tr>
#if( $listIpin.size() == 0 )
								<tr>
									<td colspan="2" align="center" class="text-result-no" style="padding: 10 0 10 0">검색 결과 데이터가 존재하지 않습니다.</td>
								</tr>
#else
	#foreach( $arr in $listIpin )
							<tr class="text-result">
									<td>$arr[0]</td>
									<td>
										#if ("Y" == "$!arr[1]")
										<font color="green">성공</font>
										#else
										<font color="red">실패</font>
										#end
									</td>
								</tr>
								<tr>
									<td colspan="7" background="$link.getContextPath()/images/sub/default/dot_line.gif"><img
										src="$link.getContextPath()/images/sub/default/dot_line.gif" border="0" /></td>
								</tr>
	#end
#end
							</table>
						</div>

<!-- 휴대폰본인확인 -->
						<table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
							<tr>
								<td class="itemTitle">휴대폰본인확인</td>
							</tr>
						</table>
						<div style="width: 100%; height: 120px; overflow: auto; ">
							<table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
								<tr>
									<td bgcolor="#b5b5b5" colspan="7">
										<table cellspacing="1" cellpadding="2" border="0" width="100%" style="height: 24px">
											<tr bgcolor="#FFFFFF" align="center">
												<td background="$link.getContextPath()/images/sub/default/t-topbg.gif" width="50%">시간</td>
												<td background="$link.getContextPath()/images/sub/default/t-topbg.gif" width="50%">성공여부</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<!--// 가이드 TR // -->
									<td width="50%" height="1"></td>
									<td width="50%"></td>
								</tr>
#if( $listHolder.size() == 0 )
								<tr>
									<td colspan="2" align="center" class="text-result-no" style="padding: 10 0 10 0">검색 결과 데이터가 존재하지 않습니다.</td>
								</tr>
#else
	#foreach( $arr in $listHolder )
							<tr class="text-result">
									<td>$arr[0]</td>
									<td>
										#if ("Y" == "$!arr[1]")
										<font color="green">성공</font>
										#else
										<font color="red">실패</font>
										#end
									</td>
								</tr>
								<tr>
									<td colspan="7" background="$link.getContextPath()/images/sub/default/dot_line.gif"><img
										src="$link.getContextPath()/images/sub/default/dot_line.gif" border="0" /></td>
								</tr>
	#end
#end
							</table>
						</div>

						<div class="alret">
							<p class="orange-bold">Tip. 항목 설명</p>
							<p class="pad20">
								- 시간항목 정렬순서: 최근순<br>
							</p>
						</div>
